<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>Hover! for a Joke</h1>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
  <p class="user">type of joke ➡️
       <u><i><%= id %></i></u>
   Refresh for new joke!!
  </p>
</body>

</html>